PROJECT_ID=
FRONTEND_URL=http://localhost:3000
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=movie_theater
MOVIE_THEATER_SETTINGS_DB_URL=postgres://postgres:postgres@localhost:5433/movie-theater?schema=movie_theater_settings